@import '../variables';
@import '../mixins';

.main {
  margin: auto;
  min-height: 100%;
  @media screen and (min-width: $max-mobile-width) {
    max-width: 80vw;
  }
  .themeIcon {
    position: fixed;
    right: 60px;
    cursor: pointer;
  }
  .settingIcon{
    @extend .themeIcon;
    right: 0;
  }
}

.label {
  font-size: 1rem;
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  color: #fff;
  line-height: 3rem;
  font-weight: 500;
  transition: all 0.3s;
  border-radius: 30px;
  text-transform: uppercase;
  padding: 0 25px 0 30px;
  height: 3rem;
}

.home {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  text-align: center;
  @media screen and (min-width: $max-mobile-width) {
    place-items: center;
    grid-template-columns: 1fr 2fr;
  }
  img {
    z-index: 1;
    position: relative;
  }
  .content {
    @media screen and (min-width: $max-mobile-width) {
      max-width: 50vw;
    }

    p {
      margin-bottom: 1rem;
    }
  }
}

.about {
  padding: 1rem;
  .personalInfoWrapper {
    display: grid;
    gap: 1rem;
    @media screen and (min-width: $max-mobile-width) {
      grid-template-columns: 1fr 1fr;
    }
    .personalInfoContainer {
      display: grid;
      @media screen and (min-width: $max-mobile-width) {
        grid-template-columns: repeat(2, 1fr);
      }
      margin-top: 1rem;
      .personalInfoKey {
        text-transform: capitalize;
        opacity: 0.8;
        @include secondary-font-mixin(
          $font-weight-md,
          $font-size-md,
          $line-height-md
        );
      }
      .personalInfoValue {
        @include secondary-font-mixin(
          $font-weight-xl,
          $font-size-md,
          $line-height-md
        );
      }
    }
    .personalInfoDetailsContainer {
      display: grid;
      @media screen and (min-width: $max-mobile-width) {
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
      }
      gap: 2rem;
      .personalInfoDetails {
        padding: 2rem;
        sup {
          font-weight: $font-weight-md;
        }
        .detailsLabel {
          display: flex;
          align-items: center;
          column-gap: 4px;
        }
      }
    }
  }

  .skillWrapper {
    .skillHead {
      text-align: center;
      margin-bottom: 5rem;
    }
  }
}
.heading {
  text-align: center;
  padding: 3rem;
  h1 {
    display: inline;
  }
}

.services {
  padding: 1rem;
  .subTitle {
    @include secondary-font-mixin(
      $font-weight-md,
      $font-size-md,
      $line-height-md
    );
    margin: 0.5rem 0;
    text-transform: capitalize;
  }
  .title {
    margin-bottom: 1rem;
  }
}

.contact {
  padding: 1rem;
  form {
    padding: 2rem;
  }
  .contactDetails {
    padding: 1rem 0;
    .details {
      padding: 0.5rem;
      * {
        margin-bottom: 0.5rem;
        word-wrap: break-word;
      }
      .contactLabel {
        text-transform: capitalize;
        opacity: 0.8;
        @include primary-font-mixin(
          $font-weight-md,
          $font-size-md,
          $line-height-md
        );
      }
    }
  }
  .contentWrapper {
    display: grid;
    @media screen and (min-width: $max-mobile-width) {
      grid-template-columns: 1fr 2fr;
    }
    gap: 2rem;
  }
  .grid {
    display: grid;
    grid-template-rows: auto 1fr;
    column-gap: 1rem;
    @media screen and (min-width: $max-mobile-width) {
      grid-template-columns: repeat(2, 1fr);
      div:nth-child(n + 3) {
        grid-column: span 2;
      }
    }
  }
}

.name {
  @include secondary-font-mixin(
    $font-weight-xl,
    $font-size-sm,
    $line-height-sm
  );
  display: block;
  text-transform: uppercase;
  margin-bottom: inherit;
}
