$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-xl: 1.125rem;

$line-height-xs: 1.125rem;
$line-height-sm: 2rem;
$line-height-md: 2.5rem;
$line-height-xl: 3rem;

// # font-weight
$font-weight-xs: 100;
$font-weight-s: 200;
$font-weight-sm: 300;
$font-weight-md: 400;
$font-weight-lg: 500;
$font-weight-xl: 600;
$font-weight-xxl: 700;
$font-weight-xxxl: 800;
$font-weight-xxxxl: 900;

// #width
$max-mobile-width: 786px;
$max-tablet-width: 1024px;
